<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="h-screen w-full flex flex-col">
    <div class="w-full h-12 bg-green-700 sticky top-0 flex justify-between content-center shadow-sm flex-none">
        <div class="my-auto text-white flex">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="relative inline-block ml-1">
                    <div>
                        <button type="button"
                                class="inline-flex justify-center rounded-full my-auto ml-3 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-blue-500"
                                onclick="openCloseMenu('menu')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 fill-current text-white" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M4 6h16M4 12h16M4 18h16"/>
                            </svg>
                        </button>
                    </div>
                    <div id="menu"
                         class="origin-top-left absolute left-0 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none hidden text-black">
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="py-1 mx-2">
                                <a href="{{ path('admin') }}">Admin</a>
                            </div>
                            <div class="py-1 mx-2">
                                <a href="{{ path('nurse') }}">Nurse</a>
                            </div>
                        {% elseif is_granted("ROLE_NURSE") %}
                            <div class="py-1 mx-2">
                                <a href="{{ path('nurse') }}">Nurse</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <svg height="512" viewBox="0 0 512.001 512.001" width="512" xmlns="http://www.w3.org/2000/svg"
                 class="w-4 h-4 fill-current text-white inline-block mr-2 ml-4 my-auto">
                <path d="M89.249 507.604c5.863 5.863 15.352 5.863 21.215 0 5.861-5.861 5.861-15.35 0-21.213l-10.607-10.605 57.729-57.731-63.638-63.638-57.73 57.729-10.605-10.607c-5.863-5.863-15.352-5.863-21.215 0-5.861 5.863-5.861 15.352 0 21.213zM359.111 195.316l31.82 31.82c2.818-2.818 5.069-6.628 5.069-10.607v-27.427l-73.1-72.1h-27.429a14.982 14.982 0 0 0-10.605 4.393L157.586 248.35l106.066 106.068 21.215-21.215-31.82-31.82c-5.863-5.861-5.863-15.35 0-21.213s15.35-5.863 21.213 0l31.82 31.82 21.213-21.213-31.82-31.82c-5.861-5.863-5.861-15.352 0-21.213 5.863-5.863 15.352-5.863 21.215 0l31.818 31.82 21.215-21.215-31.82-31.82c-5.863-5.861-5.863-15.35 0-21.213s15.347-5.863 21.21 0zM507.604 4.397c-5.863-5.863-15.352-5.863-21.215 0l-76.199 76.2c-16.712-7.925-37.269-5.156-51.079 8.654l-10.607 10.607 63.64 63.638 10.607-10.605c13.81-13.81 16.578-34.367 8.652-51.079l76.201-76.201c5.862-5.862 5.862-15.351 0-21.214zM242.438 375.629 136.373 269.563l-10.607 10.605c-5.852 5.852-15.361 5.852-21.213 0-5.863-5.863-15.35-5.863-21.213 0s-5.863 15.352 0 21.213l127.278 127.28c5.863 5.863 15.352 5.863 21.215 0 5.861-5.863 5.861-15.352 0-21.213-5.854-5.854-5.854-15.363 0-21.215z"/>
            </svg>
            Vaccine appointment
        </div>
        <div class="my-auto mr-2">
            <div class="relative inline-block">
                <div>
                    <button type="button"
                            class="inline-flex justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-blue-500 mt-1"
                            onclick="openCloseMenu('user-menu')">
                        <img id="user-image"
                             class="object-cover inset-0 rounded-full w-8 h-8 border-2 border-white"
                             src="{{ asset('build/user.b2d20c0d.svg') }}">
                    </button>
                </div>
                <div id="user-menu"
                     class="origin-top-right absolute right-0 w-40 rounded-md bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none hidden">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="py-1 mx-2">
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% else %}
                        <div class="py-1 mx-2">
                            <a href="{{ path('app_login') }}">Login</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="h-full overflow-y-auto">
        {% block body %}{% endblock %}
    </div>
</div>

<script>
    function openCloseMenu(menuId){
        document.getElementById(menuId).classList.toggle("hidden");
    }
</script>
</body>
</html>
