{% extends 'base.html.twig' %}

{% block title 'Appointment' %}

{% block body %}
    <div class="w-full min-h-full home-bg flex flex-col p-16">
        <div class="appointment-box rounded-lg bg-white shadow-md my-auto mx-auto border flex flex-col font-sans">
            {% block form %} {% endblock %}
        </div>
    </div>

{% endblock %}