{% set notices = app.session.flashBag.get('notice') %}
{% extends 'appointment/appointment_base.html.twig' %}

{% block form %}
    <h1 class="mx-auto mt-6 font-medium text-2xl ">Welcome!</h1>
    <h2 class="mx-auto mt-2 text-md">Please fill out the form to book a date.</h2>
    <div class="my-2 mx-6 text-red-600 font-sans font-medium">
        {% for msg in notices %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    <form class="m-6" method="post" action="{{ path('basic_info') }}">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="taj_input">TAJ number</label>
            <input id="taj_input" name="taj_input" type="text" required placeholder="TAJ number"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name_input">Name</label>
            <input id="name_input" name="name_input" type="text" required placeholder="Full name"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="age_input">Age</label>
            <input id="age_input" name="age_input" type="number" required placeholder="Age" min="18" max="150"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone_input">Phone</label>
            <input id="phone_input" name="phone_input" required type="text" placeholder="Phone"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="diseases_input">Known diseases</label>
            <input id="diseases_input" name="diseases_input" type="text" placeholder="Known diseases"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="address_input">Address</label>
            <input id="address_input" name="address_input" required type="text" placeholder="Address"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit">Next</button>
    </form>
{% endblock %}