{# @var model \App\Models\SummaryModel #}
{% extends 'appointment/appointment_base.html.twig' %}

{% block form %}
    <h1 class="mx-auto mt-6 text-2xl font-medium">Appointment booked</h1>
    <div class="m-6">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="taj_input">TAJ number</label>
            <input id="taj_input" disabled type="text" required value="{{ model.taj }}"
                   class="shadow appearance-none cursor-not-allowed border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name_input">Name</label>
            <input id="name_input" disabled type="text" required value="{{ model.name }}"
                   class="shadow appearance-none cursor-not-allowed border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="age_input">Age</label>
            <input id="age_input" disabled type="number" required value="{{ model.age }}"
                   class="shadow appearance-none cursor-not-allowed border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone_input">Phone</label>
            <input id="phone_input" disabled required type="text" value="{{ model.phone }}"
                   class="shadow appearance-none cursor-not-allowed border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="diseases_input">Known diseases</label>
            <input id="diseases_input" disabled type="text" value="{{ model.knownDiseases }}"
                   class="shadow appearance-none cursor-not-allowed border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="address_input">Address</label>
            <input id="address_input" disabled required type="text" value="{{ model.address }}"
                   class="shadow appearance-none cursor-not-allowed border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="hospital_input">Hospital</label>
            <div class="relative">
                <select disabled
                        class="block appearance-none cursor-not-allowed w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="hospital_input">
                    <option>{{ model.hospital }}</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="vaccine_input">Vaccine</label>
            <div class="relative">
                <select disabled
                        class="block appearance-none cursor-not-allowed w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="vaccine_input">
                    <option>{{ model.vaccine }}</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="date_input">Selected date</label>
            <input id="date_input" disabled type="date" value="{{ model.date|date('Y-m-d') }}"
                   class="shadow appearance-none cursor-not-allowed border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="time_input">Available time slots</label>
            <div class="relative">
                <select disabled
                        class="block appearance-none cursor-not-allowed w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="time_input">
                    <option>{{ model.slot }}</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}