{# @var vaccineSelection /App/Models/VaccineSelectionModel[] #}
{# @var hospitalSelection /App/Models/HospitalSelectionModel[] #}

{% extends 'appointment/appointment_base.html.twig' %}

{% block form %}
    <h1 class="mx-auto mt-6 text-xl font-medium">Please select a date</h1>
    <form class="m-6" action="{{ path('vaccine_view') }}" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="hospital_input">Hospital</label>
            <div class="relative">
                <select class="block appearance-none w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="hospital_input" name="hospital_input" onchange="this.form.submit()">
                    {% for hospital in hospitalSelection %}
                        {% if hospital.selected %}
                            <option value="{{ hospital.id }}" selected>{{ hospital.name }}</option>
                        {% else %}
                            <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="vaccine_input">Vaccine</label>
            <div class="relative">
                <select class="block appearance-none w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="vaccine_input" name="vaccine_input" onchange="this.form.submit()">
                    {% for vaccine in vaccineSelection %}
                        {% if vaccine.selected %}
                            <option value="{{ vaccine.id }}" selected>{{ vaccine.name }}</option>
                        {% else %}
                            <option value="{{ vaccine.id }}">{{ vaccine.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="date_input">Selected date</label>
            <input id="date_input" name="date_input" type="date" placeholder="Date" min="{{ from|date('Y-m-d') }}"
                   max="{{ to|date('Y-m-d') }}" onchange="this.form.submit()"
                   value="{{ selectedDate }}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="time_input">Available time slots</label>
            <div class="relative">
                <select class="block appearance-none w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="time_input" name="time_input">
                    {% for timeSlot in timeSlots %}
                        <option value="{{ timeSlot }}">{{ timeSlot }}</option>
                    {% endfor %}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                    </svg>
                </div>
            </div>
        </div>
        <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit" name="btnBook">Book the date</button>
    </form>
{% endblock %}