{# @var appointments \App\Models\AppointmentListModel[] #}
{# @var hospitalSelection \App\Models\HospitalSelectionModel[] #}
{% set patientRowClass = "grid grid-cols-9 text-center border-b border-gray-400" %}

{% extends 'base.html.twig' %}

{% block title 'Nurse' %}

{% block body %}
    <div class="w-full min-h-full nurse-bg flex font-sans items-center justify-center">
        <div class="w-3/4 h-full bg-white border shadow-md rounded-2xl p-6 mt-24 mb-24 flex flex-col flex-none justify-between space-y-3">
            <h1 class="text-2xl font-medium inline-block">Patients</h1>
            <div>
                <form method="post" action="{{ path('nurse') }}">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="hospital_input">Please select a
                        hospital</label>
                    <div class="flex w-full">
                        <div class="relative w-full">
                            <select class="block appearance-none w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id="hospital_input" name="hospital_input" onchange="this.form.submit()">
                                {% for hospital in hospitalSelection %}
                                    {% if hospital.selected %}
                                        <option value="{{ hospital.id }}" selected>{{ hospital.name }}</option>
                                    {% else %}
                                        <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="border w-full h-full flex flex-col">
                <div class="grid grid-cols-9 text-center bg-gray-200">
                    <h1 class="border-r border-gray-400 col-span-2">Name</h1>
                    <h1 class="border-r border-gray-400">TAJ</h1>
                    <h1 class="border-r border-gray-400">Age</h1>
                    <h1 class="border-r border-gray-400">Address</h1>
                    <h1 class="border-r border-gray-400 col-span-2">Known diseases</h1>
                    <h1 class="border-r border-gray-400">Vaccine</h1>
                    <h1>Received</h1>
                </div>
                <div>
                    {% for appointment in appointments %}
                        <div class="{{ appointment.received? patientRowClass ~ " bg-green-200" : patientRowClass }}">
                            <h1 class="border-r border-gray-400 col-span-2 truncate">{{ appointment.name }}</h1>
                            <h1 class="border-r border-gray-400">{{ appointment.taj }}</h1>
                            <h1 class="border-r border-gray-400">{{ appointment.age }}</h1>
                            <div class="tooltip">
                                <h1 class="border-r border-gray-400 truncate">{{ appointment.address }}</h1>
                                <span class="tooltiptext">{{ appointment.address }}</span>
                            </div>
                            <div class="tooltip col-span-2">
                                <h1 class="border-r border-gray-400 truncate">{{ appointment.knownDiseases }}</h1>
                                <span class="tooltiptext">{{ appointment.knownDiseases }}</span>
                            </div>
                            <h1 class="border-r border-gray-400">{{ appointment.vaccine }}</h1>
                            <div class="flex items-center justify-center">
                                <a href="{{ path('nurse_vaccination',{'appointment':  appointment.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-600" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}