{#  @var model \App\Models\DashboardModel #}
{% extends 'admin/index.html.twig' %}

{% block admin_content %}
    <div class="w-full h-full flex space-x-4 font-sans">
        <div class="w-96 h-44 rounded-xl bg-white shadow-md p-4 flex flex-col">
            <h1 class="text-xl font-medium">New appointments today</h1>
            <p class="text-5xl font-medium m-auto">{{ model.registeredAppointmentsToday }}</p>
        </div>
        <div class="w-96 h-44 rounded-xl bg-white shadow-md p-4 flex flex-col">
            <h1 class="text-xl font-medium">Available vaccines</h1>
            <p class="text-5xl font-medium m-auto">{{ model.totalAvailableVaccines }}</p>
        </div>
        <div class="w-96 h-44 rounded-xl bg-white shadow-md p-4 flex flex-col">
            <h1 class="text-xl font-medium">Appointments today</h1>
            <p class="text-5xl font-medium m-auto">{{ model.appointmentsToday }}</p>
        </div>
    </div>
{% endblock %}