{# @var model \App\Models\HospitalListModel #}
{% extends 'admin/index.html.twig' %}

{% block admin_content %}
    <div class="w-full h-full flex font-sans">
        <div class="w-2/3 h-full bg-white border shadow-md rounded-2xl p-6 flex flex-col justify-between space-y-3">
            <div>
                <h1 class="text-2xl font-medium inline-block">Hospitals</h1>
                <button onclick="showAddHospitalView()" class="ml-2 inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
            </div>
            <div class="border w-full h-full flex flex-col">
                <div class="grid grid-cols-6 text-center bg-gray-200">
                    <h1 class="border-r border-gray-400 col-span-2">Name</h1>
                    <h1 class="border-r border-gray-400 col-span-2">Address</h1>
                    <h1 class="border-r border-gray-400">Capacity per hour</h1>
                    <h1>Phone</h1>
                </div>
                <div class="overflow-y-auto">
                    {% for hospital in model.hotelList %}
                        <div class="grid grid-cols-6 text-center border-b border-gray-400">
                            <h1 class="border-r border-gray-400 col-span-2 truncate">{{ hospital.name }}</h1>
                            <h1 class="border-r border-gray-400 col-span-2 truncate">{{ hospital.address }}</h1>
                            <h1 class="border-r border-gray-400">{{ hospital.capacityPerHour }}</h1>
                            <h1 class="truncate">{{ hospital.phone }}</h1>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="add_hospital" class="ml-10 w-1/3 h-full bg-white border shadow-md rounded-2xl p-6 hidden">
            <h1 class="text-2xl font-medium inline-block">Add hospital</h1>
            <form class="mt-3" method="post" action="{{ path('add_hospital') }}">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="name_input">Name</label>
                    <input id="name_input" name="name_input" type="text" placeholder="name" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="address_input">Address</label>
                    <input id="address_input" name="address_input" type="text" placeholder="address" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="capacity_input">Capacity per hour</label>
                    <input id="capacity_input" name="capacity_input" type="number" min="1" placeholder="capacity" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="phone_input">Phone</label>
                    <input id="phone_input" name="phone_input" type="text" placeholder="phone" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email_input">Email</label>
                    <input id="email_input" name="email_input" type="email" placeholder="email" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit">Add Hospital</button>
            </form>
        </div>
    </div>
    <script>
        function showAddHospitalView(){
            const hospitalBlade = document.getElementById("add_hospital");
            hospitalBlade.classList.remove("hidden");
        }
    </script>
{% endblock %}