{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{% set menuItemClass = 'hover:bg-gray-100 p-2 rounded-md' %}
{% set activeMenuClass = 'bg-gray-100 p-2 rounded-md' %}

{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}
    <div class="h-full w-full bg-gray-100 flex">
        <div class="w-60 rounded-2xl shadow-md border bg-white m-10 p-4 flex flex-col flex-none space-y-1">
            <a href="{{ path('admin') }}" id="home" class="{{ currentPath == '/admin'? activeMenuClass: menuItemClass }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 inline-block" fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
                </svg>
                Home
            </a>
            <a href="{{ path('hospital') }}" id="hospital" class="{{ currentPath == '/admin/hospital'? activeMenuClass: menuItemClass }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 inline-block" fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                Hospital
            </a>
            <a href="{{ path('vaccine') }}" id="vaccine" class="{{ currentPath == '/admin/vaccine'? activeMenuClass: menuItemClass }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 inline-block" fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"/>
                </svg>
                Vaccine
            </a>
            <a href="{{ path('users') }}" id="users" class="{{ currentPath == '/admin/users'? activeMenuClass: menuItemClass }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 inline-block" fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
                </svg>
                Users
            </a>
        </div>
        <div class="w-full h-full py-10 pr-10 overflow-x-auto">
            {% block admin_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
