{# @var users \App\Models\UserListModel[] #}
{# @var userToEdit \App\Models\UserListModel #}
{% set editClass = "ml-10 w-1/3 h-full bg-white border shadow-md rounded-2xl p-6" %}
{% extends 'admin/index.html.twig' %}

{% block admin_content %}
    <div class="w-full h-full flex font-sans">
        <div class="w-1/2 h-full bg-white border shadow-md rounded-2xl p-6 flex flex-col justify-between space-y-3">
            <div>
                <h1 class="text-2xl font-medium inline-block">Users</h1>
                <button onclick="showAddUserView()" class="ml-2 inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
            </div>
            <div class="border w-full h-full flex flex-col">
                <div class="grid grid-cols-3 text-center bg-gray-200">
                    <h1 class="border-r border-gray-400">Username</h1>
                    <h1 class="border-r border-gray-400">Role</h1>
                    <h1>Added</h1>
                </div>
                <div class="overflow-y-auto">
                    {% for userModel in users %}
                        <div class="grid grid-cols-3 text-center border-b border-gray-400 relative">
                            <h1 class="border-r border-gray-400">{{ userModel.username }}</h1>
                            <h1 class="border-r border-gray-400">
                                {% for role in userModel.roles %}
                                    {{ role }}
                                {% endfor %}
                            </h1>
                            <h1>{{ userModel.createdAt|date("m/d/Y") }}</h1>
                            <div class="origin-top-right absolute right-0 w-full opacity-0 hover:opacity-100 flex">
                                <a class="block ml-auto mr-2 h-5 w-5 "
                                   href="{{ path('edit_user', {'userId': userModel.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                         viewBox="0 0 24 24" stroke="green">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                                    </svg>
                                </a>
                                <a class="block mr-2 h-5 w-5 "
                                   href="{{ path('delete_user', {'userId': userModel.id}) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " fill="none"
                                         viewBox="0 0 24 24" stroke="red">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="add_user" class="ml-10 w-1/3 h-full bg-white border shadow-md rounded-2xl p-6 hidden">
            <h1 class="text-2xl font-medium inline-block">Add user</h1>
            <form class="mt-3" method="post" action="{{ path('add_user') }}">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username_input">Username</label>
                    <input id="username_input" name="username_input" type="text" placeholder="username" required
                           minlength="5"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="name_input">Full name</label>
                    <input id="name_input" name="name_input" type="text" placeholder="full name" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="role_input">Role</label>
                    <div class="relative">
                        <select class="block appearance-none w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="role_input" name="role_input">
                            {% for role in roleList %}
                                <option value="{{ role }}">{{ role }}</option>
                            {% endfor %}
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit">Add User</button>
            </form>
        </div>
        <div id="edit_user" class="{{ userToEdit ? editClass: editClass  ~ " hidden" }}">
            <h1 class="text-2xl font-medium inline-block">Edit user</h1>
            <form class="mt-3" method="post" action="{{ path('modify_user') }}">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username_input">Username</label>
                    <input id="username_input" name="username_input" type="text" placeholder="username" required
                           value="{{ userToEdit? userToEdit.username : '' }}"
                           minlength="5"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <input name="id_input" type="number" hidden value="{{ userToEdit?userToEdit.id:'' }}"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit">Modify User</button>
            </form>
        </div>
    </div>
    <script>
        function showAddUserView() {
            const userBlade = document.getElementById("add_user");
            userBlade.classList.remove("hidden");
        }
    </script>

{% endblock %}