{# @var vaccineList \App\Models\VaccineListModel[] #}
{# @var vaccineStock \App\Models\VaccineStockModel[] #}
{# @var hospitalSelection \App\Models\HospitalSelectionModel[] #}
{# @var vaccineSelection \App\Models\VaccineSelectionModel[] #}
{% set stockClass = "h-full bg-white border shadow-md rounded-2xl p-6 flex flex-col flex-none justify-between space-y-3 ml-10 vaccine-list-box" %}
{% set addStockClass = "ml-2 inline-block" %}
{% set notices = app.session.flashBag.get('notice') %}

{% extends 'admin/index.html.twig' %}

{% block admin_content %}
    <div class="min-w-full h-full flex font-sans">
        <div class="h-full bg-white border shadow-md rounded-2xl p-6 flex flex-col flex-none justify-between space-y-3 vaccine-list-box">
            <div>
                <h1 class="text-2xl font-medium inline-block">Vaccines</h1>
                <button onclick="showBlade('add_vaccine')" class="ml-2 inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
                <button onclick="showBlade('vaccine_stock')" class="ml-2 inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"/>
                    </svg>
                </button>
            </div>
            <div class="border w-full h-full flex flex-col">
                <div class="grid grid-cols-3 text-center bg-gray-200">
                    <h1 class="border-r border-gray-400">Name</h1>
                    <h1 class="border-r border-gray-400">Company</h1>
                    <h1 class="border-r border-gray-400">Created</h1>
                </div>
                <div class="overflow-y-auto">
                    {% for vaccine in vaccineList %}
                        <div class="grid grid-cols-3 text-center border-b border-gray-400">
                            <h1 class="border-r border-gray-400">{{ vaccine.name }}</h1>
                            <h1 class="border-r border-gray-400">{{ vaccine.company }}</h1>
                            <h1 class="border-r border-gray-400">{{ vaccine.created|date("m/d/Y") }}</h1>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="add_vaccine"
             class="ml-10 h-full bg-white border shadow-md rounded-2xl p-6 hidden flex-none vaccine-add-box">
            <h1 class="text-2xl font-medium inline-block">Add vaccine</h1>
            <form class="mt-3" method="post" action="{{ path('add_vaccine') }}">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="name_input">Name</label>
                    <input id="name_input" name="name_input" type="text" placeholder="name" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="company_input">Company</label>
                    <input id="company_input" name="company_input" type="text" placeholder="company" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="risk_input">Risk diseases</label>
                    <input id="risk_input" name="risk_input" type="text" placeholder="risk"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="storage_input">Storage
                        conditions</label>
                    <input id="storage_input" name="storage_input" type="text" placeholder="storage"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit">Add Vaccine</button>
            </form>
        </div>
        <div id="vaccine_stock"
             class="{{ notices|length > 0 ? stockClass: stockClass ~ " hidden" }}">
            <div>
                <form method="post" action="{{ path('vaccine') }}">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="hospital_input">Please select a
                        hospital</label>
                    <div class="flex w-full">
                        <div class="relative w-full">
                            <select class="block appearance-none w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id="hospital_input" name="hospital_input" onchange="this.form.submit()">
                                {% for hospital in hospitalSelection %}
                                    {% if hospital.selected %}
                                        <option value="{{ hospital.id }}" selected>{{ hospital.name }}</option>
                                    {% else %}
                                        <option value="{{ hospital.id }}">{{ hospital.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <h1 class="text-xl font-medium inline-block">Stock</h1>
                <button onclick="showBlade('add_stock')"
                        class="{{ selectedHospital? addStockClass: addStockClass ~ " hidden" }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>
            </div>
            <div class="border w-full h-full flex flex-col">
                <div class="grid grid-cols-4 text-center bg-gray-200">
                    <h1 class="border-r border-gray-400 col-span-2">Name</h1>
                    <h1 class="border-r border-gray-400">Stock</h1>
                    <h1 class="border-r border-gray-400">Updated</h1>
                </div>
                <div class="overflow-y-auto">
                    {% for stock in vaccineStock %}
                        <div class="grid grid-cols-4 text-center border-b border-gray-400">
                            <h1 class="border-r border-gray-400 col-span-2">{{ stock.name }}</h1>
                            <h1 class="border-r border-gray-400">{{ stock.stock }}</h1>
                            <h1 class="border-r border-gray-400">{{ stock.updated|date("m/d/Y") }}</h1>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="add_stock"
             class="ml-10 mr-10 h-full bg-white border shadow-md rounded-2xl p-6 hidden flex-none vaccine-add-box">
            <h1 class="text-2xl font-medium inline-block">Add stock</h1>
            <form class="mt-3" method="post" action="{{ path('add_vaccine_stock') }}">
                <div class="mb-4 hidden">
                    <input id="selected_hospital_input" name="selected_hospital_input" hidden
                           value="{{ selectedHospital }}"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="vaccine_input">Please select a
                        vaccine</label>
                    <div class="relative">
                        <select class="block appearance-none w-full bg-white shadow border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="vaccine_input" name="vaccine_input" required>
                            {% for vaccine in vaccineSelection %}
                                <option value="{{ vaccine.id }}">{{ vaccine.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="stock_input">Count</label>
                    <input id="stock_input" name="stock_input" type="number" min="1" placeholder="number" required
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit">Add Stock</button>
            </form>
        </div>
    </div>
    <script>
        function showBlade(bladeId) {
            const blade = document.getElementById(bladeId);
            if (blade) {
                blade.classList.remove("hidden");
            }
        }
    </script>
{% endblock %}