{% extends 'base.html.twig' %}

{% block title 'Login' %}

{% block body %}
    <div class="w-full min-h-full login-bg flex font-sans items-center justify-center">
        <div class="w-96 h-96 bg-white border shadow-md rounded-2xl p-6 flex flex-col flex-none justify-center space-y-3">
            <h1 class="text-2xl font-medium inline-block text-center mb-10">Please login</h1>
            <form class="mt-3" method="post">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username_input">Username</label>
                    <input id="username_input" name="username_input" type="text" placeholder="username"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-12">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password_input">Password</label>
                    <input id="password_input" name="password_input" type="password"
                           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <button class="w-full h-14 bg-green-700 text-white rounded-md" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}